@page
@model AspNetCore_Interface.Pages.Photos.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <img src="@Url.Content( @Model.MediaFile.Path)" alt="image"/>


<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MediaFile.Path)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MediaFile.Path)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MediaFile.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MediaFile.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.MediaFile.Date)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.MediaFile.Date)
    </dd>
</dl>
<table class="table">
<thead>
<tr>
    <th>
        @Html.DisplayNameFor(model => model.MediaFileProperties[0].Id)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MediaFileProperties[0].Type)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.MediaFileProperties[0].Value)
    </th>
</tr>
</thead>
<tbody>
@foreach (var item in Model.MediaFileProperties)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            
        </td>
    </tr>
}
</tbody>
</table>
