@page
@model AspNetCore_Interface.Pages.Photos.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form>
    <p>
        Property Type:
        <select asp-for="ChosenPropertyType" asp-items="Model.PropertyTypes">
            <option value="">All</option>
        </select>
        Property Value: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
   

    <p style="font-weight: bold"> Count of found media files: @Html.DisplayFor(modelItem => modelItem.SearchCount)</p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MediaFiles[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaFiles[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaFiles[0].Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaFiles[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaFiles[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MediaFiles[0].Properties)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.MediaFiles)
    {
        <tr style="font-size:small">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Properties.Count)


            </td>
            <td>
                @* <a asp-page="./Edit" asp-route-id="@item.PostId">Edit</a> | *@
                <a asp-page="/Photos/Details" asp-route-id="@item.Id">Details</a> |
                @* <a asp-page="./Delete" asp-route-id="@item.PostId">Delete</a> | *@
                @* <a asp-page="/Comments/Create" asp-route-id="@item.PostId">Add a Comment</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>